/*
  Appending custom SCSS variables will override the default ones in `_sass/addon/variables.scsss`
*/

$font-family-base: 'Pretendard', sans-serif !important;
$font-family-heading: 'Pretendard', sans-serif !important;

@mixin dark-scheme {
  /* Framework color */
  --main-bg: rgb(27, 27, 30);
  --mask-bg: rgb(68, 69, 70);
  --main-border-color: #888990;

  /* Common color */
  --text-color: #e0e0e0;
  --text-muted-color: #868686;
  --text-muted-hightlight-color: #aeaeae;
  --heading-color: #f9f9f9;
  --label-color: #a7a7a7;
  --blockquote-border-color: rgb(66, 66, 66);
  --blockquote-text-color: #868686;
  --link-color: #BFAD6A ;
  --link-color-hover: #989E34;
  --link-underline-color: var(--link-color);
  --button-bg: #1e1e1e;
  --btn-border-color: #2e2f31;
  --btn-backtotop-color: var(--text-color);
  --btn-backtotop-border-color: #212122;
  --btn-box-shadow: var(--main-bg);
  --card-header-bg: #292929;
  --checkbox-color: rgb(118, 120, 121);
  --checkbox-checked-color: var(--link-color);
  --img-bg: radial-gradient(circle, rgb(22, 22, 24) 0%, rgb(32, 32, 32) 100%);
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(58, 55, 55, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  --giscus-bg: #141416;

  /* Sidebar */
  --site-title-color: #CCCCCC;
  --site-subtitle-color: #999999;
  --sidebar-bg: #1e1e1e;
  --sidebar-border-color: #292929;
  --sidebar-muted-color: #868686;
  --sidebar-active-color: rgb(255, 255, 255, 0.95);
  --sidebar-hover-bg: #262626;
  --sidebar-btn-bg: #232328;
  --sidebar-btn-color: #787878;
  --avatar-border-color: rgb(206, 206, 206, 0.9);

  /* Topbar */
  --topbar-bg: rgb(27, 27, 30, 0.64);
  --topbar-text-color: var(--text-color);
  --search-border-color: rgb(55, 55, 55);
  --search-icon-color: rgb(100, 102, 105);
  --input-focus-border-color: rgb(112, 114, 115);

  /* Home page */
  --post-list-text-color: rgb(175, 176, 177);
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: #2e2e2e;

  /* Posts */
  --toc-highlight: rgb(116, 178, 243);
  --tag-hover: rgb(43, 56, 62);
  --tb-odd-bg: #252526; /* odd rows of the posts' table */
  --tb-even-bg: rgb(31, 31, 34); /* even rows of the posts' table */
  --tb-border-color: var(--tb-odd-bg);
  --btn-share-color: #6c757d;
  --btn-share-hover-color: #bfc1ca;
  --card-bg: var(--main-bg);
  --card-hovor-bg: #303030;
  --card-shadow: 0;
  --kbd-wrap-color: #6a6a6a;
  --kbd-text-color: #d3d3d3;
  --kbd-bg-color: #242424;
  --prompt-text-color: #e9e9e9bc;
  --prompt-tip-bg: rgb(22, 60, 36, 0.64);
  --prompt-tip-icon-color: rgb(15, 164, 15, 0.81);
  --prompt-info-bg: rgb(7, 59, 104, 0.8);
  --prompt-info-icon-color: #0075d1;
  --prompt-warning-bg: rgb(90, 69, 3, 0.88);
  --prompt-warning-icon-color: rgb(255, 165, 0, 0.8);
  --prompt-danger-bg: rgb(86, 28, 8, 0.8);
  --prompt-danger-icon-color: #cd0202;
  --prompt-block-bg: #292929;
  --prompt-update-bg: rgb(35, 23, 70);
  --prompt-update-icon-color: #a877d3;
  --code-color: #f663b4;
  --external-link: #C3C17D;
  --external-link-hover: #A67DC3;
  --footnote-bg: #222425;
  --footnote-target-bg: rgb(38, 43, 69);

  --cell-highlight-r: #331f1f;
  --cell-highlight-g: #1f331f;
  --cell-highlight-b: #1f1f33;

  /* tags */
  --tag-border: rgb(59, 79, 88);
  --tag-shadow: rgb(32, 33, 33);
  --dash-color: rgb(63, 65, 68);
  --search-tag-bg: #292828;

  /* categories */
  --categories-border: rgb(64, 66, 69, 0.5);
  --categories-hover-bg: rgb(73, 75, 76);
  --categories-icon-hover-color: white;

  /* archives */
  --timeline-node-bg: rgb(150, 152, 156);
  --timeline-color: rgb(63, 65, 68);
  --timeline-year-dot-color: var(--timeline-color);

  .light {
    display: none;
  }

  hr {
    border-color: var(--main-border-color);
  }

  /* categories */
  .categories.card,
  .list-group-item {
    background-color: var(--card-bg);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background-image: linear-gradient(
      to left,
      rgb(26, 26, 30),
      rgb(39, 39, 45),
      rgb(39, 39, 45),
      rgb(39, 39, 45),
      rgb(26, 26, 30)
    );
  }

  color-scheme: dark;

  /* stylelint-disable-next-line selector-id-pattern */
  #disqus_thread {
    color-scheme: none;
  }
} /* dark-scheme */

@mixin light-scheme {
  /* Framework color */
  --main-bg: white;
  --mask-bg: #c1c3c5;
  --main-border-color: #f3f3f3;

  /* Common color */
  --text-color: #34343c;
  --text-muted-color: #757575;
  --text-muted-hightlight-color: inherit;
  --heading-color: #2a2a2a;
  --label-color: #585858;
  --blockquote-border-color: #eeeeee;
  --blockquote-text-color: #757575;
  --link-color: #6A7CBF;
  --link-color-hover: #061E77;
  --link-underline-color: var(--link-color);
  --button-bg: #ffffff;
  --btn-border-color: #e9ecef;
  --btn-backtotop-color: #686868;
  --btn-backtotop-border-color: #f1f1f1;
  --btn-box-shadow: #eaeaea;
  --checkbox-color: #c5c5c5;
  --checkbox-checked-color: #07a8f7;
  --img-bg: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgb(239, 239, 239) 100%
  );
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(250, 250, 250, 0) 0%,
    rgba(232, 230, 230, 1) 50%,
    rgba(250, 250, 250, 0) 100%
  );

  --giscus-bg: #f3f3f3;

  /* Sidebar */
  --site-title-color: #555555;
  --site-subtitle-color: #666666;
  --sidebar-bg: #f3f3f3;
  --sidebar-border-color: #efefef;
  --sidebar-muted-color: #545454;
  --sidebar-active-color: #1d1d1d;
  --sidebar-hover-bg: rgb(223, 233, 241, 0.64);
  --sidebar-btn-bg: white;
  --sidebar-btn-color: #8e8e8e;
  --avatar-border-color: white;

  /* Topbar */
  --topbar-bg: rgb(255, 255, 255, 0.7);
  --topbar-text-color: rgb(78, 78, 78);
  --search-border-color: rgb(240, 240, 240);
  --search-icon-color: #c2c6cc;
  --input-focus-border-color: #b8b8b8;

  /* Home page */
  --post-list-text-color: dimgray;
  --btn-patinator-text-color: #555555;
  --btn-paginator-hover-color: var(--sidebar-bg);

  /* Posts */
  --toc-highlight: #0550ae;
  --btn-share-color: gray;
  --btn-share-hover-color: #0d6efd;
  --card-bg: var(--main-bg);
  --card-hovor-bg: #e2e2e2;
  --card-shadow: 0;
  --tb-odd-bg: #fbfcfd;
  --tb-border-color: #eaeaea;
  --dash-color: silver;
  --kbd-wrap-color: #bdbdbd;
  --kbd-text-color: var(--text-color);
  --kbd-bg-color: white;
  --prompt-text-color: rgb(46, 46, 46, 0.77);
  --prompt-tip-bg: rgb(123, 247, 144, 0.2);
  --prompt-tip-icon-color: #03b303;
  --prompt-info-bg: #e1f5fe;
  --prompt-info-icon-color: #0070cb;
  --prompt-warning-bg: rgb(255, 243, 205);
  --prompt-warning-icon-color: #ef9c03;
  --prompt-danger-bg: rgb(248, 215, 218, 0.56);
  --prompt-danger-icon-color: #df3c30;
  --prompt-block-bg: #eeeeee;
  --prompt-update-bg: rgb(240, 235, 255);
  --prompt-update-icon-color: #882fd6;
  --code-color: #b61364;
  --external-link: #49a358;
  --external-link-hover: #A34994;
  --footnote-bg: #efefef;
  --footnote-target-bg: #f1e7dc;

  --cell-highlight-r: #ffdddd;
  --cell-highlight-g: #ddffdd;
  --cell-highlight-b: #ddddff;

  /* Tags */
  --tag-border: #dee2e6;
  --tag-shadow: var(--btn-border-color);
  --tag-hover: rgb(222, 226, 230);
  --search-tag-bg: #f8f9fa;

  .dark {
    display: none;
  }

  /* Categories */
  --categories-border: rgba(0, 0, 0, 0.125);
  --categories-hover-bg: var(--btn-border-color);
  --categories-icon-hover-color: darkslategray;

  /* Archive */
  --timeline-color: rgba(0, 0, 0, 0.075);
  --timeline-node-bg: #c2c6cc;
  --timeline-year-dot-color: #ffffff;
} /* light-scheme */
