---
---

@import 'main';

/* append your custom style below */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

#sidebar .site-title {
    font-weight: 600 !important;
}

h1 {
    font-weight: 500 !important;
}

.card-title {
    font-weight: 500;
}

.card-text {
    font-weight: 400;
}

.sidebar-bottom {
    justify-content: center;
    margin-right: 10px !important;
}

#sidebar .fst-italic {
    font-weight: 400;
    font-style: normal !important;
}

#post-list article:nth-child(n+2) {
    position: relative;
}

#post-list article:nth-child(n+2)::before {
    position:absolute;
    left: 0;
    top: -10px;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #eeeeee;
}

#archives .year::after {
    left: 12.5px;
}

.giscus-outer {
    background-color: #F5F5F5; 
    border-radius: 20px; 
    padding: 40px 20px 12px 20px;
    margin: 0 -20px; 
    text-align: center;
    width: calc(100% + 40px);
}

@media (max-width: 767px) {
    .giscus-outer {
        border-radius: 0; 
    }
}

.post-tail-wrapper {
    border-bottom: 0 !important;
}