---
---

@import 'main';

/* append your custom style below */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
@import url("/assets/fonts/fonts.css");

#sidebar .site-title {
    font-weight: 600 !important;
}

body {
    font-feature-settings: 'ss01', 'ss02', 'ss05', 'ss07', 'ss08';
    word-break: keep-all;
}

h1 {
    font-weight: 500 !important;
}

.card-title {
    font-weight: 500;
}

.card-text {
    font-weight: 400;
}

.sidebar-bottom {
    justify-content: center;
    margin-right: 10px !important;
}

#sidebar .fst-italic {
    font-weight: 400;
    font-style: normal !important;
}

#post-list article:nth-child(n+2) {
    position: relative;
}

#post-list article:nth-child(n+2)::before {
    position:absolute;
    left: 0;
    top: -10px;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #eeeeee;
}

#archives .year::after {
    left: 12.5px;
}

.giscus-outer {
    background-color: var(--giscus-bg); 
    border-radius: 20px; 
    padding: 40px 20px 12px 20px;
    margin: 0 -20px; 
    text-align: center;
    width: calc(100% + 40px);
}

.post-tail-wrapper {
    border-bottom: 0 !important;
}

.font-mspace {
    font-family: 'Ligature', 'Monoplex KR Wide Nerd', monospace;
    font-size: .875em;
    word-wrap: break-word;
}

.content code, .content kbd, .content pre, .content samp  {
    font-family: 'Ligature', 'Monoplex KR Wide Nerd', monospace !important;
}

.content code {
    color: var(--code-color) !important;
    background-color: var(--inline-code-bg);
    padding: 3px 5px;
    border-radius: 4px;
    white-space: nowrap;
    word-wrap: break-word;
}

th {
    font-weight: 500;
}

.prompt-info p {
    margin-top: -1px;
    padding-bottom: 1px;
}

figure {
    width: 80%; 
    margin: 0 auto;
    padding: 20px 0; 
    margin-bottom: 5px; 
    text-align: center; 
}

figure * {
    margin: 0 auto; 
}

figcaption {
    color: gray; 
    font-weight: 600; 
    font-size: 0.8em;
    margin-top: -20px
}

td {
    padding: auto !important;
}

.footnote {
    font-size: 0.9rem;  
    background-color: var(--footnote-bg);
    color: var(--prompt-text-color);
    padding: 1.5rem 1rem 1rem 1rem;
    margin: 2rem 0rem 1rem;
    border-radius: .625rem ;
    position: relative;
}

.footnote:target {
    background-color: var(--footnote-target-bg);
}


.footnote:target > a:first-child {
    background-color: var(--footnote-target-bg) !important;
}

.footnote > a:first-child {
    position: absolute;
    left: 0rem;
    top: -0.5rem;
    width: 2rem;
    height: 1rem;
    text-indent: 0;
    font-size: 1.1rem;
    font-weight: 500;
    color: #666666;
    z-index: 1;
    background-color: var(--footnote-bg);
    border-radius: 2rem 2rem 0 0;
    text-align: center;
    border: 0 !important;
}

a[id^="rfn-"] {
    background-color: var(--footnote-bg);
    padding: 1px 2px;
    border-radius: 6px;
    font-family: "Monoplex KR";
    color: var(--prompt-text-color) !important;
    font-weight: 500;
    transition: all 0.05s !important;
    border: 0 !important;
    position: relative;
    font-size: 0.8em;
    top: -0.4em
}

a[id^="rfn-"]:hover {
    background-color: var(--footnote-target-bg);
    transition: all 0.05s !important;
}

article .content a:not(.footnote *):not(.fn-link):not([id^=rfn-]):not([target="_blank"]) {
    color: var(--link-color)  !important;
    border-bottom: 2px dotted var(--link-underline-color) !important;
    transition: all 0.05s;
}

article .content a:not(.footnote *):not(.fn-link):not([id^=rfn-]):not([target="_blank"]):hover {
    color: var(--link-color-hover)  !important;
    border-bottom: 2px dotted var(--link-color-hover) !important;
}

article .content em, article .content i {
    display: inline-block;
    font-family: 'IBM Plex Sans Italic', 'Pretendard', sans-serif !important;
    -webkit-transform: rotate(0.04deg);
    transform: rotate(0.04deg);
}

.content a[target="_blank"]::before {
    content: "\f360";
    font-family: 'Font Awesome 6 Free';
    font-weight:600;
    font-size: 0.9em;
    position: relative;
    padding-right: 0.2rem;
}

.content a[target="_blank"] {
    color: var(--external-link);
    border-bottom: 0.1rem dotted #49a358 !important;
    transition: all 0.05s;
}


.content a[target="_blank"]:hover {
    color: var(--external-link) !important;
    border-bottom: 0.1rem dotted var(--external-link-hover) !important;
}

.content b, .content strong {
    font-weight: 600;
}

.content u {
    text-decoration-line: none;
    position: relative
}

.content u::after {
    content: "";
    display: block;
    text-decoration-line: none;
    border-bottom: 0.08rem solid;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0.04rem;
}

hr + h1, hr + h2, hr + h3, hr + h4, hr + h5, hr + h6 {
    margin-top: 25px;
}

p:has(.hide-next) {
    display: none;
}

p:has(.hide-next) + h2 {
    font-size: 0;
    margin: 0;
    padding: 0;
}

.prompt-block {
    font-size: 0.95em;  
    background-color: var(--prompt-block-bg);
    padding: 1em !important;
    color: var(--prompt-text-color) !important;
    border-radius: .625rem ;
    position: relative;
}

.prompt-update {
    background-color: var(--prompt-update-bg);
}

.prompt-update span {
    position: relative;
    top: 0;
    display: inline;
}

blockquote.prompt-update::before {
    content: "\f017";
    color: var(--prompt-update-icon-color);
    font: var(--fa-font-solid);
    margin-top: 0.42rem;
}

summary::marker {
    display: none;
}

details[open] > summary::before {
    transform: rotate(90deg) !important;
    -webkit-transform: rotate(90deg);
}

summary::before {
    content: "\f152";
    font-family: 'Font Awesome 6 Free';
    font-weight:600;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
    left: -0.3em;
    font-size: 0.9em;
}

summary {
    position: relative;
    padding-left: 0.3em;
    cursor: pointer;
    display: inline;
}

details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
}
  
  details[close] summary ~ * {
    animation: close 0.3s ease-in-out;
}

*:has(.mode-toggle:hover) *:not(.mode-toggle) {
    transition: all 0s !important;
}

rt {
    position: relative;
    bottom: -0.2em;
    font-size: 0.8em;
}


@keyframes open {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes close {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes theme {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
  

@media (max-width: 850px) {
    .giscus-outer {
        border-radius: 0; 
        width: calc( 100vw );
        margin: 0 -20px;
        flex-shrink: 0;
    }

    figure {
        width: 100%; 
        margin: 0 auto; 
        margin-bottom: 5px; 
        text-align: center; 
    }

    .hide-mobile {
        display: none;
    }
}